.example-spacer {
    flex: 1 1 auto;
}

.app-topbar {
    padding: 10px;
    background-color: var(--rich-black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.26);
}

.app-topbar-img {
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.app-topbar-title-container {
    display: block;
}

.app-topbar-title {
    color: var(--cerulean-blue);
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.app-topbar-motto {
    color: var(--cerulean-blue);
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.app-topbar-space {
    width: 70%;
}

.app-topbar-left {
    display: flex;

}

.app-topbar-left-item {
    padding-left: 5px;
    padding-right: 5px;
    color:  var(--cerulean-blue);
    font-size: 12px;
}


