<div class="app-home">

<!-- <app-linear-search></app-linear-search> -->

<div class="app-home-card">
    <div class="app-home-card-title">
        Searching Algorithm
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Linear Search
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Binary Search
    </div>
</div>

<div class="app-home-card">
    <div class="app-home-card-title">
        Searching Algorithm
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Linear Search
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Binary Search
    </div>
</div>

<div class="app-home-card">
    <div class="app-home-card-title">
        Searching Algorithm
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Linear Search
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Binary Search
    </div>
</div>

<div class="app-home-card">
    <div class="app-home-card-title">
        Searching Algorithm
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Linear Search
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Binary Search
    </div>
</div>

<div class="app-home-card">
    <div class="app-home-card-title">
        Searching Algorithm
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Linear Search
    </div>
    <div class="app-home-card-item" routerLink="algorithm/linear-search">
        Binary Search
    </div>
</div>

</div>
