
/* Color Reference */

/* Vivid Tangerine: #FF8B8B
Milan: #F5FFA2
Mint Green: #AAFFA2
Anakiwa: #9FD1FF
Lavender Rose: #FFAEF7 */

.app-topbar{
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.app-topbar-img{
    padding-left: 20px;
    width: 40px;
    height: 40px;
}

.app-topbar-title-container{
  display: block;
}
.app-topbar-title{
    color:#7facd6;
    font-size: 25px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
.app-topbar-motto{
    color:#7facd6;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.app-topbar-space{
   width: 70%;
 }

.app-topbar-left{
   display: flex;
 
}
.app-topbar-left-item{
    padding-left: 10px;
    padding-right: 10px;
    color:#7facd6;
    font-size: 15px;
}

.app-page{
    padding-left: 10px;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    margin: 0px;
    padding: 0px;
  }