<div class="app-linear-search">
    <div class="app-linear-search-title">Linear Search</div>

    <div class="app-linear-search-control">
        <input min="0" max="999999" [(ngModel)]="inputValue" (keyup.enter)="pushItem()" class="app-linear-search-input" type="number" />
        <button class="app-linear-search-button" (click)="pushItem()">Insert</button>
        <button class="app-linear-search-button" (click)="popItem()">Remove</button>
        <input min="0" max="999999" [(ngModel)]="searchValue" (keyup.enter)="linearSearch()"  class="app-linear-search-input" type="number"/>
        <button class="app-linear-search-button" (click)="linearSearch()">Linear Search</button>
        <button *ngIf="searchActive" class="app-linear-search-button-abort" (click)="abort=true">Abort</button>
        <span class="app-notice" >{{note}}</span>
    </div>


    <div class="slider-control">
        <div class="slider-control-item"><label >Delay</label></div>
        <div class="slider-control-item"><input type="range" min="1" max="100" value="1"   [(ngModel)]="timer"></div>
        <div class="slider-control-item">  <label >{{timer}}</label></div>

    </div>
        
   
        

   <div class="app-linear-search-container">
 <div class="app-linear-search-canvas">
        <!-- [ngClass]="(epicActive && (activeEpicId === epic.id)) ? 'side-panel-item-active' :'side-panel-item-passive'" -->
    <div class="app-node" 
    *ngFor="let item of inputStack;let indexOfelement=index;"
    [ngClass]="indexOfelement == activeIndex? 'app-node-active' :'app-node'">
            <div class="app-node-element">
                {{item}}
            </div>
    </div>
    </div>


    <div class="app-linear-search-code-viewer">
    <div [ngClass]="(lineNo == 1)? 'app-line-code-active' :'app-line-code'">For : i = 0 to ArrayLength - 1</div>
    <div [ngClass]="(lineNo == 2)? 'app-line-code-active' :'app-line-code'"><span></span>If : Array [ i ] = SearchValue</div>
    <div [ngClass]="(lineNo == 3)? 'app-line-code-active' :'app-line-code'"> <span></span> <span></span>  item found </div>
    <div [ngClass]="(lineNo == 4)? 'app-line-code-active' :'app-line-code'"><span></span>i++</div>
    <div [ngClass]="(lineNo == 5)? 'app-line-code-active' :'app-line-code'">item not found </div>
    </div>

   </div>
   


</div>