.app-linear-search{
    display: block;
}

.app-linear-search-title{
    padding: 5px;
    color: #2F8F9D;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app-linear-search-control{
    padding: 20px 20px 20px 0px;
}
.app-linear-search-button{
    margin: 5px;
    padding: 5px;
    background-color:#2F8F9D ;
    color: #B3E8E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    outline: 0px;
    border: 2px solid  #2F8F9D;
    cursor: pointer;
}

.app-linear-search-button:hover{
    background-color:#B3E8E5 ;
    color: #2F8F9D;
    border: 2px solid  #B3E8E5;
}
.app-linear-search-input{
    margin: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #969696;
    border-radius: 5px;
    outline: 0px;
    color: #2F8F9D;
    font-weight: 500;

}

.app-node{

    margin-left: 5px;
    margin-right: 5px;
    background-color:#2F8F9D ;
    color: #B3E8E5;
    border-radius: 5px;
    width: auto;
    display: flex;
    padding: 5px 10px 5px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.app-node-active{
    margin-left: 5px;
    margin-right: 5px;
    background-color:tomato ;
    border-radius: 5px;
    color: brown ;
    width: auto;
    display: flex;
    padding: 5px 10px 5px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.app-linear-search-button-abort{
    margin: 5px;
    padding: 5px;
    background-color:rgb(252, 67, 34) ;
    color: rgb(255, 250, 249);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    outline: 0px;
    border: 2px solid  rgb(252, 67, 34);
    cursor: pointer;
}

.app-linear-search-button-abort:hover{
    
    background-color:rgb(214, 56, 28) ;
    border: 2px solid  rgb(214, 56, 28);
    
  
}

.app-linear-search-container{
    display: flex;

}


.app-node-element{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;

}

.app-linear-search-code-viewer{
 margin-left: 20px;

 padding: 40px;
 width: 500px;
 height: 500px;
 border: 2px solid #969696;
 border-radius: 10px;
}


.app-line-code{
    color: #2F8F9D;
    font-weight: 500;
    padding: 3px;
}
.app-line-code-active{
    color: tomato;
    font-weight: 500;
    padding: 3px;
}

.app-linear-search-code-viewer div>span{
   margin-left: 20px;
}

.app-linear-search-canvas{
    /* display: flex; */
    
    padding: 40px;
    width: 500px;
    height: 500px;
    border: 2px solid #969696;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto ; /* set column sizes here */
    grid-template-rows: 
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto /* we want two rows */
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto
    auto auto auto auto auto;
     grid-gap: 5px;  
    /* how far between cells? */
    grid-auto-flow: row; /* fill in by column, not row */

}

.app-notice{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: tomato;
    font-size: 15px;

}


  
  .example-margin {
    margin: 8px;
  }

  
  .mat-slider-horizontal {
    max-width: 200px;
    width: 100%;
  }

.slider-control{
    display: flex;
    align-items: center;
   padding: 10px;

}
.slider-control-item{
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2F8F9D;
    font-weight: 500;
    
}


input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;

  
  }
  input[type=range]::-webkit-slider-thumb {
   

    height: 15px;
    width: 15px;
    border-radius: 10px;
    background: #2F8F9D;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
 
  input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ac51b5;
  }
  
 

